<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JiraTestApp.Properties.Settings.TestDBConnectionString"
            connectionString="Data Source=SF-CRIAHI-L10\JIRATESTINSTANCE;Initial Catalog=TestDB;Integrated Security=True;MultipleActiveResultSets=true;"
            providerName="System.Data.SqlClient" />
      <add name ="vmsfetdbConnectionString"
           connectionString ="Data Source=vmsfetdb.advent.com;Initial Catalog=REMOVED;User ID=REMOVED;Password=REMOVED; MultipleActiveResultSets=true;
           "/>
      </connectionStrings>
  <appSettings>
    <add key ="startAt" value = "0" />
    <add key ="maxResults" value = "100" />
    <add key ="tableName" value = "JiraExport5"/>
    <add key ="prefixJql" value ="https://jiradev.advent.com/rest/api/latest/search?jql=project=APX&#38;startAt=" />
    <add key ="updateJql" value ="https://jiradev.advent.com/rest/api/latest/search?jql=project=APX AND updated>'-7w'&amp;maxResults=1000"/>
    
  </appSettings>
    
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
